body,div,ul,li,span,img{
	padding: 0;
	margin: 0;
}
body{
	font-family: Mircsoft,微软雅黑;
	min-width: 1300px;
	background-color:  white;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
/*header*/
.header{
	width: 100%;
	height: 180px;
}
.header .top{
	height: 40px;
	line-height: 40px;
	background-color: #123382;
	color: white;
}

.selectIdx select,input{
	display:none;
}
.header .top .welcome{
	float: left;
	margin-left: 130px;
}
.header .top .welcome span{
	display: inline-block;
	margin-right: 30px;
}
.header .top .welcome span#phone{
	padding-left: 20px;
	background: url(../icons/phone.png) no-repeat left center;
	cursor: pointer;
	position: relative;
}

.header .top .btn{
	float: right;
	margin-right: 130px;
}
.header .top .btn a{
	color: white;
	display: inline-block;
	margin-left: 50px;
}
.header .top .btn a#login{
	padding-left: 30px;
	background: url(../icons/login.png) no-repeat left center;
}
.header .top .btn a:hover{
	color: #A6A0EA;
}
.header .bottom{
	height:140px; 
	background-color:#4248D8;
}
.header .bottom .logo{
	display: block;
	float: left;
	margin: 35px 100px;
}
.header .bottom .nav{
	overflow: hidden;
	float: right;
	margin-right: 80px;
}
.header .bottom .nav li{
	float: left;
}
.header .bottom .nav a{
	display: block;
	padding: 0px 20px;
	line-height: 140px;

	font-size: 28px;
	color: white;
}
.header .bottom .nav a:hover{
	background-color: #123382;
}
/*section*/
.section{
	width: 100%;
	height: 660px;
	color: white;
	overflow: hidden;
}
/*style of .section .seat*/
.section .seat{
	width: 100%;
	height: 60px;
	background-color: #A6A0EA;
	padding-top: 1px;
}
.section .seat p{
	font-size: 25px;
	margin:15px 50px;
}
/*style of .section .content*/
.section .content{
	width: 1000px;
	height: 600px;
	background-color: #bbcdc5;
	float: right;
	margin-left: 20px;
}
.section .content .content-map{
	display: none;
	height: 600px;
}
/*style of .section .data*/
.section .data{
	overflow: hidden;
	height: 580px;
	padding-top:20px;
	background-color: #bbcdc5;
}
.section .data .list{
	width: 80%;
	margin: 0px 10%;
	border: 1px solid #ccc;
}
.section .data .list .list-title{
	display: block;
	width: 100%;
	height: 40px;
	background: #2F4F4F;
	cursor: pointer;

	text-align: center;
	line-height: 40px;
}
.section .data .list .list-title:after{
	content: url(../image/down.png);
	float: right;
	margin-right: 20px;
}
.list-link {
	display: block;
	width: 100%;
	height: 40px;
	background: #0080ff;
	cursor: pointer;

	text-align: center;
	line-height: 40px;
	float: right;
}
.section .data .list ul{
	width: 100%;
	overflow: hidden;
	display: none;
}
.section .data .list ul li{
	padding: 10px 20px;
	background: url(../image/right.png) no-repeat right center;
	background-color:white;
	color: black;
	border: 1px solid #ccc;
	cursor: pointer;
}
.section .data .list ul li:hover{
	background-color: #ccc;
	color: white;
}

/*footer*/
.footer{
	height:200px;
	width:100%;
	background-color: #4248D8;
}
.footercontent{
	width:1000px;
	margin: 0 auto;
	display:table;
	margin-top:0px;
	padding-top:50px;
	background-color: #4248D8;
}
.footerp{
	text-align: center;
	font-size: 13px;
	color:#ccc;
	
	
}
.footera{
	display:block;	 
	margin:0 auto;
	color:#ccc;
	font-size: 13px;
	width:200px;

}
/*tooltip提示框样式*/
.header .tooltip{
	width: 0px;
	height: 0px;
	background: url(../image/wait.png) no-repeat center center;
	opacity: 0;
	position: absolute;
	z-index: 10;

	transition: width 1s, height 1s;
	-moz-transition: width 1s, height 1s;
	-webkit-transition: width 1s, height 1s;
	-o-transition: width 1s, height 1s;
}
.header .top .welcome span#phone:hover .tooltip{
	width: 200px;
	height: 138px;
	opacity: 1;
}
/*#container{
	height: 600px;
	width:100%;
}*/